* {
    box-sizing: border-box;
}

body {
    background: lightblue;
    transition: background 1s;
}

header, footer, .side, .center {
    background: lightgoldenrodyellow;
    padding: 10px;
}

main {
    display: flex;
    gap:10px;
    margin: 10px 0;
}

img {
    max-width:100%;
}

.side {
    width:25%;
}

.center {
    width:50%;
}

header {
    text-align: center;
}

footer {
    /* max-width:600px; */
    text-align: center;
    transition: background 3s;
}

footer:hover {
    background: lightsteelblue;
}

@media screen and (max-width:800px) {
    body {
        background: image();
        color:brown;
    }

    main {
        flex-direction:column;
    }

    .side {
        width: 100%;
    }

    .center {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    body {
        background:#bbe7ff;
        font-size:90%;
    }
}